<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cafeComment">
	<select id="getList" parameterType="cafeCommentDto" resultType="cafeCommentDto">
		SELECT *
		FROM
			(SELECT result1.*, ROWNUM AS rnum
			FROM
				(SELECT num, writer, content, target_id, ref_group,
					comment_group, deleted, board_cafe_comment.regdate, profile
				FROM board_cafe_comment
				INNER JOIN users
				ON board_cafe_comment.writer=users.id
				WHERE ref_group=#{ref_group}
				ORDER BY comment_group ASC, num ASC) result1)
		WHERE rnum BETWEEN #{startRowNum} AND #{endRowNum}
	</select>
	<insert id="insert" parameterType="cafeCommentDto">
		INSERT INTO board_cafe_comment
		(num, writer, content, target_id, ref_group, comment_group, regdate)
		VALUES(#{num}, #{writer}, #{content}, #{target_id}, #{ref_group}, #{comment_group}, SYSDATE)
	</insert>
	<update id="update" parameterType="cafeCommentDto">
		UPDATE board_cafe_comment
		SET content=#{content}
		WHERE num=#{num}
	</update>
	<update id="delete" parameterType="int">
		UPDATE board_cafe_comment
		SET deleted='yes'
		WHERE num=#{num}
	</update>
	<select id="getSequence" resultType="int">
		SELECT board_cafe_comment_seq.NEXTVAL
		FROM DUAL
	</select>
	<select id="getData" parameterType="int" resultType="cafeCommentDto">
		SELECT num,writer,content,ref_group,comment_group,deleted,regdate
		FROM board_cafe_comment
		WHERE num=#{num}
	</select>
	<select id="getCount" parameterType="int" resultType="int">
		SELECT NVL(MAX(ROWNUM), 0)
		FROM board_cafe_comment
		WHERE ref_group=#{ref_group}
	</select>
</mapper>
<!-- 
	id="getList"
		1. 정렬 확인하기. 정렬을 2번함. 댓글그룹번호, 댓글번호 어떤 효과가 나는지 알고 있어야 함.
		정렬하지 않으면 댓글이 무작위로 셀렉트됨. 무작위로 출력하면 안되는 이유. 대댓글, 시간순 정렬.
		같은 댓글 그룹끼리 몰려있어야 하기 때문에 댓글그룹번호 comment_group 를 먼저 정렬해주고, 댓글을 바로 정렬한다.
		원글의 댓글은 num과 comment_group의 번호가 같다. ***
		저렇게 정렬하면 그룹번호끼리 묶이면서, 시간순대로 정렬이 된다. 중요중요!
		List 에 이 순서대로 담았다면, 담겨있는 순서대로 댓글 목록을 출력해주면 된다. 
		대신 대댓글은 들여쓰기에 주의해야한다.
	 -->